.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-wrapper {
  height: 72px;
}

.header {
  position: fixed;
  z-index: 1;
  padding: 24px;
  width: 100%;
  //background-color: $light;
}

.dark-background {
  background-color: $dark;
  * {
    color: white;
  }
}

.light-background {
  background-color: $light;
  * {
    color: black;
  }
}

.dark-background-1 {
  background-color: $dark-1;
  * {
    color: white;
  }
}


.main {
  flex: 1;
}

.footer {
  //background-color: $light;
  padding: 24px;
}
