// Heading & Text classes
@each $size in map-keys($headings) {
  .heading-#{$size} {
    @include heading;
    font-size: texts-deep-get($headings, $size, 'default', 'font-size');
    line-height: texts-deep-get($headings, $size, 'default', 'line-height');

    @include media-breakpoint-up(md) {
      font-size: texts-deep-get($headings, $size, 'md', 'font-size');
      line-height: texts-deep-get($headings, $size, 'md', 'line-height');
    }
  }
}

@each $size in map-keys($texts) {
  .text-#{$size} {
    @include text;
    font-size: texts-deep-get($texts, $size, 'default', 'font-size');
    line-height: texts-deep-get($texts, $size, 'default', 'line-height');

    @include media-breakpoint-up(md) {
      font-size: texts-deep-get($texts, $size, 'md', 'font-size');
      line-height: texts-deep-get($texts, $size, 'md', 'line-height');
    }
  }
}
