@import 'variables.scss';
@import 'mixins.scss';
@import 'bootstrap.scss';
@import 'typography.scss';
@import 'layout.scss';

.img-profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.nav-icon {
  font-size: 2.5vh;
  text-align: center;
  display: block;
  margin: auto;
  //background-color: $light;
  &:hover {
    background-color: $primary;
    border-radius: 15px;
  }
  &:active {
    background-color: $light;
    border-radius: 15px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $orange;
}
